.background {
  height: 100%;
  width: 100%;
  position: absolute;
}

.spacerTop {
  padding-left: 80px;
  padding-top: 20px;
}

.spacerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;

}

#mainScreen {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.instruction {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;

}

.boardC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  
}

.boardG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacerBottom {
  float: right;
  margin-right: 5vw;
  margin-top: 8vh;

}

.title {
  width: 400px;
  height: 130px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 100;
}

#winnerAnnouncer {
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;

}

.score {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 100;
  padding: 10px;
}

.rowSquare {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.unitSquare {
  background: #00aaff;
  height: 150px;
  width: 150px;
  color: white;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
}

.selectSquare {
  background: #00aaff;
  height: 150px;
  width: 150px;
  color: white;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
}

#reset {
  background: #f44336;
  height: 100px;
  width: 150px;
  color: white;
  font-size: 35px;
  font-weight: 200;
}

#restart {
  background: #00aaff;
  height: 100px;
  width: 150px;
  color: white;
  font-size: 35px;
  font-weight: 200;
  
}

.controlRow{
  margin: 0 auto;

}